@font-face {
  font-family: 'colors';
  src:  url('../Fonts/colors.eot?t2v00k');
  src:  url('../Fonts/colors.eot?t2v00k#iefix') format('embedded-opentype'),
    url('../Fonts/colors.ttf?t2v00k') format('truetype'),
    url('../Fonts/colors.woff?t2v00k') format('woff'),
    url('../Fonts/colors.svg?t2v00k#colors') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}