$mana-black-path1: "\e981";
$mana-black-path2: "\e982";
$mana-colorless-path1: "\e983";
$mana-colorless-path2: "\e984";
$mana-green-path1: "\e985";
$mana-green-path2: "\e986";
$mana-red-path1: "\e987";
$mana-red-path2: "\e988";
$mana-blue-path1: "\e992";
$mana-blue-path2: "\e993";
$mana-white-path1: "\e994";
$mana-white-path2: "\e995";

$mana-w: #f8f6d8;
$mana-u: #c1d7e9;
$mana-b: #bab1ab;
$mana-r: #e49977;
$mana-g: #a3c095;
$mana-c: #ccc2c0;