.post-type-deck {
  .wp-list-table {
    .column-thumbnail {
      width: 75px;
      img {
        display: block;
        height: auto;
        width: 100%;
      }
    }
    .column-identity {
      text-align: center;
      width: 80px;
      .color-identity {
        display: none;
      }
    }
    .sort-by {
      display: none;
      visibility: hidden;
    }
  }
}