#poststuff .win-loss-container h2.hndle,
#poststuff .power-ranking-container h2.hndle {
  cursor: default;
  padding: 0;
  text-align: center;
  margin-block-end: 20px;
}

.win-loss-container {
  margin-block-start: 20px;
  padding: 20px 20px 40px 20px;

  .win-loss-table {
    border-collapse: collapse;
    margin: 0 auto;
    th {
      padding: 10px;
    }
    th, td {
      border: 1px solid #ccc;
      text-align: center;
      text-transform: capitalize;
      &.table-date {
        width: 120px;
      }
      &.table-opponents {
        width: 50px;
      }
      &.table-win-loss {
        width: 100px;
      }
      &.win {
        background-color: greenyellow;
      }
      &.loss {
        background-color: lightcoral;
      }
      &.column-action {
        width: 120px;
        padding: 0;
        .action-button {
          border: 0;
          padding: 8px 10px;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
    tr.new-data-row {
      td {
        padding: 0;
        input,
        select,
        option {
          align-items: center;
          display: flex;
          height: 45px;
          justify-content: center;
          text-align: center;
          width: 100%;
        }
      }
    }
  }
}

.power-ranking-container {
  padding: 20px;
  p {
    margin-block-end: 1em;
    text-align: center;
  }
  .power-ranking-table {
    border-collapse: collapse;
    width: 100%;
    tr {
      border-color: #CCC;
      border-style: solid;
      border-width: 2px 0;
    }
    th {
      border-color: #CCC;
      border-style: solid;
      border-width: 0 1px 0 2px;
      width: 100px;
    }
    td {
      align-items: center;
      display: flex;
      gap: 10px;
      border-color: #CCC;
      border-style: solid;
      border-width: 0 2px 1px 0;
      &:last-child {
        border-width: 0 2px 0 0;
      }
    }
    th, td {
      padding: 10px;
    }
  }
  button.action-button {
    align-items: center;
    background-color: lightgreen;
    color: black;
    display: flex;
    gap: 10px;
    margin: 20px auto 0 auto;
  }
}

#postbox-container-2 {
  float: unset;
}