.deck-table-wrap {
  table {
    border: 1px solid;
    border-collapse: collapse;
    thead {
      tr {
        height: 180px;
        th {
          border: 1px solid;
          vertical-align: bottom;
          &.column-identity,
          &.column-salt_sum,
          &.column-deck_price,
          &.column-total_mana,
          &.column-average_mana,
          &.column-battles,
          &.column-planeswalkers,
          &.column-creatures,
          &.column-sorceries,
          &.column-instants,
          &.column-artifacts,
          &.column-enchantments,
          &.column-lands {
            position: relative;
            white-space: nowrap;  
            & > a {
              display: flex;
              position: absolute;
              // top: 50%;
              // left: 50%;
              // transform: translate(-50%, -50%) rotate(90deg);
              transform: rotate(90deg);
              transform-origin: bottom left;
              top: -30px;
              justify-content: flex-end;
              width: 160px;
            }
          }
        }
      }
    }
    tbody {
      tr {
        td {
          border: 1px solid;
        }
      }
    }
    tfoot {
      display: none;
    }
    .sort-by {
      visibility: hidden;
    }
    .column-identity {
      width: 99px;
      text-align: center;
    }
    .column-salt_sum,
    .column-deck_price {
      width: 74px;
      text-align: center;
    }
    .column-total_mana,
    .column-average_mana,
    .column-battles,
    .column-planeswalkers,
    .column-creatures,
    .column-sorceries,
    .column-instants,
    .column-artifacts,
    .column-enchantments,
    .column-lands {
      width: 49px;
      text-align: center;
    }
  }
}